@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
:root {
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* outline: 2px solid red; */
}
body {
  font-size: 18px;
  width: 100%;
  overflow-x: hidden;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  width: 100%;
}
.wrapper {
  margin: auto;
  margin-top: 50px;
  position: relative;
  width: 90%;
}
.nav-container {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}
.img-logo {
  display: block;
}
.nav__menu {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  flex-direction: column;
  position: absolute;
  top: 100%;
  border-radius: 20px;
  background-color: var(--Dark-Violet);
  color: white;
  font-weight: 700;
  padding: 30px;
  margin-top: 20px;
}
.nav__menu--list {
  display: flex;
  gap: 30px;
  text-align: center;
  flex-direction: column;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
  width: 100%;
}
.btn {
  padding: 5px 30px;
  border-radius: 20px;
  background-color: var(--Cyan);
  color: white;
  outline: none;
  text-align: center;
  border: none;
  cursor: pointer;
}
.nav__btn--signup {
  margin-left: 0;
  width: 100%;
  padding: 10px;
}
.nav__menu--button {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  padding-top: 30px;
  width: 100%;
}
/* banner start */
.home-wrapper {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}
.home__illustration {
  background-image: url(./images/illustration-working.svg);
  height: 350px;
  width: 110%;
  margin-left: -5%;
  background-size: contain;
  background-repeat: no-repeat;
}
.headline__title {
  margin: 40px auto 20px;
  font-size: 40px;
  line-height: 1.2;
}
.headline__par {
  margin-bottom: 30px;
  line-height: 1.5rem;
  color: var(--Grayish-Violet);
}
/* banner end */
/* form start */
.main-container {
  background-color: var(--Gray);
  margin-top: 100px;
  position: relative;
  padding-bottom: 50px;
}
.form-wrapper {
  background-image: url(./images/bg-shorten-mobile.svg);
  padding: 22px;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--Dark-Violet);
  position: relative;
  top: -75px;
  margin-bottom: -50px;
}
.form__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.btn-shorten,
.form-input {
  border-radius: 5px;
  padding: 10px;
}
.btn-shorten {
  font-weight: 700;
  font-size: 1rem;
}
.form-input {
  border: none;
  outline: none;
}
/* form end */
/* main start */
.main__description {
  text-align: center;
}
.icon {
  background-color: var(--Dark-Violet);
}
.description__par {
  color: var(--Grayish-Violet);
  margin: 20px auto;
}
/* main end */

/* shorted links start*/
.shorted-link__block {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.actual-link {
  font-size: 1rem;
  width: 100%;
  border-bottom: 1px solid var(--Dark-Violet);
  padding-bottom: 10px;
  color: var(--Very-Dark-Violet);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}
.shorted-link {
  color: var(--Cyan);
  font-size: 1rem;
  padding: 10px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  width: 100%;
}
.btn--copy {
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
}
/* shorted links end */
/* cards start */
.main_cards {
  margin-top: 100px;
}
.card {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 100px;
  text-align: center;
  padding: 40px;
  position: relative;
  z-index: 99;
}
.main_cards .card:not(.card--brand)::before {
  content: "";
  width: 8px;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  background-color: var(--Cyan);
  position: absolute;
  z-index: -1;
  bottom: 100%;
}
.icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--Very-Dark-Violet);
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon img {
  display: block;
}
.card__title {
  margin: 40px 0 20px;
}
.card__description {
  color: var(--Grayish-Violet);
  font-size: 1rem;
}
/* cards start */
/* boost start */
.boost-container {
  background-image: url(./images/bg-boost-mobile.svg);
  background-color: var(--Dark-Violet);
  background-repeat: no-repeat;
  background-size: cover;
}
.boost-wrapper {
  text-align: center;
  margin-top: 0;
  padding: 70px 0;
}
.boost__text {
  color: white;
  margin-bottom: 30px;
}
.btn--boost {
  padding: 10px 30px;
  border-radius: 30px;
  font-size: 1.25rem;
}
/* boost ended */
/* footer start */
.footer-container {
  background-color: var(--Very-Dark-Violet);
}
.footer-wrapper {
  margin-top: 0;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-menu {
  margin: 30px auto;
  text-align: center;
  color: var(--Gray);
}
.footer-menu__title {
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-menu__item {
  font-size: 1rem;
  margin-bottom: 10px;
}
.footer-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer-socials a i {
  color: var(--Gray);
  font-size: 1.5rem;
}
.footer-socials a i:hover,
.footer-menu__item:hover {
  color: var(--Cyan);
}
/* footer end */
@media screen and (min-width: 767px) {
  .nav__menu-toggle {
    display: none;
  }
  .nav-container {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
  }
  .nav__menu {
    display: flex;
    color: var(--Grayish-Violet);
    flex-direction: row;
    position: static;
    background-color: transparent;
    margin-top: 0;
    padding: 0;
    border-radius: 0;
  }
  .nav__menu--list {
    flex-direction: row;
    padding-bottom: 0;
    border-bottom: none;
    width: 50%;
  }
  .nav__menu--button {
    display: initial;
    padding: 0;
    width: 50%;
    text-align: right;
  }
  .nav__btn--signup {
    margin-left: 30px;
    padding: 5px 20px;
  }
  /* home start */
  .home-wrapper {
    flex-direction: row;
    text-align: left;
  }
  .home__headline {
    width: 50%;
    position: relative;
    transform: translateY(25%);
  }

  .home__illustration {
    background-image: url(./images/illustration-working.svg);
    height: 475px;
    width: 58%;
    margin-right: -20%;
    margin-left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
  .headline__title {
    margin: 0 auto 20px;
    font-size: 2.5rem;
  }
  .headline__par {
    line-height: 1.5;
    display: block;
    width: 80%;
    font-size: 1rem;
  }
  .btn--headline {
    padding: 10px 50px;
    font-size: 1rem;
    font-weight: 500;
  }
  /* home end */
  /* form start */
  .form-wrapper {
    background-image: url(./images/bg-shorten-desktop.svg);
    padding: 30px;
    background-position: top left;
    top: -50px;
  }
  .form__group {
    flex-direction: row;
    gap: 20px;
  }

  .form-input {
    flex: 1;
  }
  /* form end */
  /* shorted links start*/
  .shorted-link__block {
    flex-direction: row;
    gap: 10px;
  }
  .actual-link {
    flex: 1;
    border-bottom: none;
    padding: 0;
  }
  .shorted-link {
    padding: 0;
    width: 25%;
  }
  .btn--copy {
    width: 150px;
  }
  /* shorted links end */
  .description__par {
    margin: 30px auto 0;
    width: 70%;
  }
  /* cards start */
  .main-container {
    padding-bottom: 50px;
  }

  /* boost start */
  .boost-container {
    background-image: url(./images/bg-boost-desktop.svg);
  }
  .boost-wrapper {
    padding: 60px 0;

    /* boost ended */
  }
  /* footer start */
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer-menu {
    margin: 0;
    text-align: left;
  }
  .footer-socials {
    justify-content: flex-start;
  }
  /* footer end */
}

@media screen and (min-width: 1024px) {
  /* home start */

  .headline__title {
    margin: 0 auto 20px;
    font-size: 3.75rem;
    line-height: 1.2;
    font-weight: 700;
  }
  .headline__par {
    line-height: 1.5;
    display: block;
    width: 80%;
  }
  .btn--headline {
    padding: 15px 50px;
    font-size: 1rem;
    font-weight: 700;
  }
  /* home end */
  /* form start */
  .form-wrapper {
    background-image: url(./images/bg-shorten-desktop.svg);
  }
  /* form end */

  /* cards start */
  .main-container {
    padding-bottom: 180px;
  }

  .main_cards {
    display: flex;
    justify-content: space-between;
    margin: 100px auto 0;
  }
  .card {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 0;
    text-align: start;
    width: 31%;
    z-index: 99;
    position: relative;
    padding: 15px;
  }
  .card--detailed {
    top: 40px;
  }
  .card--fully {
    top: 80px;
  }
  .main_cards .card:not(.card--brand)::before {
    background-color: transparent;
  }
  .card {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 0;
    text-align: start;
    width: 30%;
    z-index: 99;
    position: relative;
    padding: 30px;
  }
  .card--brand::after {
    content: "";
    width: 90%;
    height: 8px;
    left: 100%;
    top: 50%;
    position: absolute;
    z-index: -1;
    background-color: cyan;
  }
  .card--detailed::after {
    content: "";
    width: 90%;
    height: 8px;
    left: 100%;
    top: 50%;
    position: absolute;
    z-index: -1;
    background-color: cyan;
  }
}
